.drag-handle-parent {
/*  transition: opacity 0.4s ease-in-out;*/
  position: absolute;
  left: -0.5em;
  margin-top: 0.2em;
}

.drag-handle {
  cursor: move;
  cursor: grab;
}

:global(.gu-mirror) {
  position: fixed;
}

:global(.gu-transit) {
  outline: 2px auto grey;
}
