{
    "package": {
        "name": "lucibus",
        "repo": "lucibus",
        "subject": "lucibus",
        "desc": "Bin files for lucibus",
        "website_url": "github.com/lucibus/lucibus",
        "issue_tracker_url": "https://github.com/lucibus/lucibus/issues",
        "vcs_url": "https://github.com/lucibus/lucibus.git",
        "licenses": ["MIT"],
        "public_download_numbers": true,
        "public_stats": true
    },
    "version": {
        "name": "{name}",
        "desc": "{desc}",
        "released": "{date}",
        "gpgSign": false
    },
    "files": [
        {"includePattern": "dist/(.*)", "uploadPattern": "$1"}
    ],
    "publish": true
}
