.wrapper {
  display: inline-flex;
}

.wrapper :global(.Select) {
  min-width: 12em;
}


.wrapper :global(.Select-control) {
  background-color: inherit;
  color: inherit;
  border: 0;
  box-shadow: none !important;
  text-align: left;
}

.wrapper :global(.Select-placeholder) {
  color: inherit;
  max-width: initial;
}

.wrapper :global(.Select-item) {
  border: 0;
  color: inherit;
  background-color: inherit;
}

.wrapper :global(.Select-item-icon) {
  border-right: 0;
  padding: 0;
}

.wrapper :global(.Select-arrow) {
  border-top-color: white;
  border-bottom-color: white !important;
}

.wrapper :global(.Select-clear) {
  color: inherit;
}

.wrapper :global(.Select-menu-outer) {
  background-color: rgba(0, 0, 0, 0.65);
  border: 0;
}

.wrapper :global(.Select-option) {
  color: inherit;
  text-align: left;
}

.wrapper :global(.Select-option.is-focused) {
  background-color: rgba(115, 115, 115, 0.65);
}

/*
.wrapper input[style] {
  background-color: inherit !important;
  display: inherit !important;
}

.wrapper ::placeholder {
  color: white !important;
}*/

/*
this is the autofilled text that is the selected element. We want to make
it a bit darker
*/
/*
.wrapper input[tabindex="-1"] {
  color: rgb(204, 204, 204) !important;
}

.wrapper ul[style] {
  text-align: left;
  margin-top: 0.3em !important;
  background-color: rgba(0, 0, 0, 1) !important;
}
*/
/*.wrapper li div[style]:hover {
  background: rgb(62, 62, 62) !important;
}*/
