.hidden-input {
  border: 0 !important;
  display: inherit !important;
  background-color: inherit !important;
  padding: 0 !important;
  outline: none !important;
  color: inherit !important;
  border: none !important;
}
