.level {
    padding-top: .1em;
    padding-bottom: .4em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    display: inline-block; /* make this as small as possible, so that border doesn't extend past */
    border-radius: .3em;
}
