.drag-handle-parent {
  position: absolute;
  left: -1.0em;
  margin-top: 0.4em;
}

.drag-handle {
  cursor: grab;
}

.new-system {
  /*opacity: 0.6;*/
}

.li {
  position: relative;
  list-style: none;
}
