/*:global(html, body){
  height:100%;
  background-color: black;
}
*/

.live {
  color: orange;
  background-color: lighten(black, 13.5%);
}

.body {
  /*margin-top: 20px*/
}

.clickable {
  cursor: pointer;
}
